
# /
/.scon*
/config.log

# /doc/
/doc/htmlDir

# /python/lsst/ctrl/events/
/python/lsst/ctrl/events/eventsLib.py
/python/lsst/ctrl/events/*_wrap.cc

# /tests/
/tests/.tests
/tests/Events_1
/tests/Events_2
/tests/EventSystem_1
/tests/EventSystem_2
